<form>
  <input type="number" placeholder="House ID" #id>
  <input type="text" placeholder="House Title" #title>
  <input type="text" placeholder="House Description" #description>
  <input type="text" placeholder="Creator" #creator>
  <input type="text" placeholder="Image" #imgUrl>
  <input type="text" placeholder="Type" #type>
  <input type="text" placeholder="Tags" #tags>
  <button type="submit" (click)="addHouse(id.value, title.value, description.value, creator.value, imgUrl.value, type.value, [tags.value])">Add House</button>
</form>

<p *ngIf="fail">Failed to add Home</p>

