<h3>Enter your search term</h3>
<input #checkTitle>
<!-- <button (click)="filterContent(checkTitle.value)">Search</button> -->
<button>Search</button>
<h4>{{ message }}</h4>

<app-content-card class="house" *ngFor="let item of contentList | contentType: 'House'" [content]="item"></app-content-card>
<app-content-card class="apartment" *ngFor="let item of contentList | contentType: 'Apartment'" [content]="item"></app-content-card>
<app-content-card class="condo" *ngFor="let item of contentList | contentType: 'Condo'" [content]="item"></app-content-card>
<app-content-card class="no-type" *ngFor="let item of contentList | contentType: ''" [content]="item"></app-content-card>
