<app-modify-content-component (addContentEvent)="addContentToList($event)"></app-modify-content-component>
<mat-form-field appearance="fill">
  <mat-label>Enter your search term</mat-label>
  <input matInput #checkTitle>
</mat-form-field>

<!-- <button (click)="filterContent(checkTitle.value)">Search</button> -->
<button mat-raised-button color="primary">Search</button>
<h4>{{ message }}</h4>

<app-content-card class="house" *ngFor="let item of contentList | contentType: 'House'" [content]="item"></app-content-card>
<app-content-card class="apartment" *ngFor="let item of contentList | contentType: 'Apartment'" [content]="item"></app-content-card>
<app-content-card class="condo" *ngFor="let item of contentList | contentType: 'Condo'" [content]="item"></app-content-card>
<app-content-card class="no-type" *ngFor="let item of contentList | contentType: ''" [content]="item"></app-content-card>
